/*
Colors used:
Background: #FFFFFF;
Main Text: #086788;
Accent Text: #856895;
*/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #086788;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}
h2 {
  font-size: 2.25em;
  font-weight: 700;
}
h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* img optimization */

img {
  width: 100%;
}

/* Button & hyperlink styling */

a {
  color: #086788;
  text-decoration: none;
}
a:hover {
  color: #3f3047;
}
a:visited {
  color: #ffffff;
}
a:active {
  color: #ffffff;
}
a:hover, a:focus {
  color: #3f3047;
}
a.button{
  color: #ffffff;
}
.button {
  display: inline-block;
  background-color: #086788;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #086788;
  transition: .2s opacity;
}
.button:hover {
  opacity: .8;
  text-decoration: none;
}
.button:active {
  color:#3f3047;
}

/* Header info */
header {
  background-color: #086788;
  font-size: 16px;
  text-align: center;
  padding: 10px 30px;
  -webkit-box-shadow: -1px 5px 7px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    -1px 5px 7px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         -1px 5px 7px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 250px;
}
nav > ul {
  padding: 0;
  width: 100%;
  list-style-type: none;
}
nav > ul > li {
  margin: 0;
  display: inline-block;
}
nav > ul > li > a {
  padding: 0px 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
}

.button.contact {
  background-color: transparent;
  color: #ffffff;
  font-size: 21px;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  padding: 10px 20px;
  margin-left: 15px;
}
.button.contact:hover {
  background-color: #3f3047;
  color: #ffffff;
  border: 2px solid #3f3047;
}

/* end of header */


/* Layout styling */

.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0;
}

#hero h1 {
  text-align: start;
  font-family: 'lora', serif;
  font-style: italic;
  font-weight: 600;
  margin-top: 50px;
}

#projects h2 {
  text-align: center;
  font-family: 'lora', serif;
  font-weight: 500;
  margin-top: 100px;
}


/* Animation Css */

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}


/* Footer Layout */

#contact h3 {
  background-color: #086788;
  color: #ffffff;
  text-align: start;
  font-weight: 500;
}
#contact {
  background-color: #086788;
  color: #ffffff;
  font-size: 18px;
  text-align: end;
}
#contact a {
  color: #ffffff;
  text-decoration: none;
}
#contact a:hover {
  color: #3f3047;
}
#contact a:visited {
  color: #ffffff;
}
#contact a:active {
  color: #ffffff;
}
#contact a:hover, a:focus {
  color: #ffffff;
}
#contact .phonenumber {
  color: #ffffff;
}
#contact .phonenumber:hover {
  color: #3f3047;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.footer-row {
  align-items: center;
  justify-content: space-between;
}
.footer-contact {
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.footer-socialicons {
  align-items: center;
  justify-content: center;
  gap: 15px;
}
/* End of Footer */


/* Logo and Icons */

.logo {
  max-width: 150px;
  max-height: 100px;
}

.icontools {
  width: 50px;
}

.icons2 {
  width: 75px;
}


/* About Section layout */

#about h1 {
  text-align: center;
  font-family: 'lora', serif;
  font-weight: 600;
}
#about {
  margin-top: 100px;
}
#story h2 {
  text-align: center;
  font-family: 'lora', serif;
  font-weight: 500;
}


/* Chic Threads Layout */

#chicthreads {
  background-color: #ffffff;
  font-family: 'fira', sans-serif;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.6;
  color:#4A6369;
}
#chicthreads h1 {
  font-family: 'fira sans', sans-serif;
  font-weight: 600;
  color: #4A6369;
}
#chicthreads h2 {
  font-family: 'fira sans', sans-serif;
  font-weight: 500;
  color: #4A6369;
}
#chicthreads h3 {
  font-family: 'fira sans', sans-serif;
  font-weight: 200;
  color: #AB5852;
}


/* Money Buddy Layout */
/* Colors used:
Background: #FFFFFF;
Sub Header: #B33C86;
Header: #800059;
Main text: #000000;
*/

#moneybuddy {
  background-color: #ffffff;
  font-family: 'nunito', sans-serif;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.6;
  color:#000000;
}
#moneybuddy h1 {
  font-weight: 600;
  color: #800059;
}
#moneybuddy h2 {
  font-weight: 500;
  color: #800059;
}
#moneybuddy h3 {
  font-weight: 500;
  color: #b33c86;
}
#moneybuddy h4 {
  font-weight: 700;
  color: #b33c86;
}


/* Lets Expat Layout */
/* Colors used:
Background: #FFFFFF;
Sub Header semi-bold 600: #103049;
Header medium 500: #103049;
sub-title medium 500: 3E5975
Main text regular 300: #3E5975;
*/

#letsexpat {
  background-color: #ffffff;
  font-family: 'fira sans', sans-serif;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.6;
  color:#3E5975;
}
#letsexpat h1 {
  font-weight: 600;
  color: #103049;
}
#letsexpat h2 {
  font-weight: 500;
  color: #103049;
}
#letsexpat h3 {
  font-weight: 500;
  color: #3E5975;
}
#letsexpat h4 {
  font-weight: 400;
  color: #3E5975;
}
.letsexpatlogo {
  width: 150px;
}
.letsexpatlogo2 {
  width: 200px;
}
#ideationbackground {
  background-color: #103049;
  font-family: 'fira sans', sans-serif;
  color: #ffffff;
}
#usertestingbackground {
  background-color: #256869;
  font-family: 'fira sans', sans-serif;
  color: #ffffff;
}
#ideationbackground h1 {
  font-weight: 600;
  color: #ffffff;
}
#ideationbackground h3 {
  font-weight: 500;
  color: #ffffff;
}
#usertestingbackground h1 {
  font-weight: 600;
  color: #ffffff;
}
#usertestingbackground h3 {
  font-weight: 500;
  color: #ffffff;
}
#onboarding {
  background-color: #86C7C8;
  font-family: 'fira sans', sans-serif;
  text-align: end;
  color: #103049;
}
#onboarding h3 {
  font-weight: 500;
  color: #103049;
}
#home {
  background-color: #3E5975;
  font-family: 'fira sans', sans-serif;
  text-align: center;
  color: #ffffff;
}
#home h3 {
  font-weight: 500;
  color: #ffffff;
}
#search {
  background-color: #103049;
  font-family: 'fira sans', sans-serif;
  color: #ffffff;
  text-align: center;
}
#search h3 {
  font-weight: 500;
  color: #ffffff;
}
#visa {
  background-color: #86C7C8;
  font-family: 'fira sans', sans-serif;
  text-align: start;
  color: #103049;
}
#visa h3 {
  font-weight: 500;
  color: #103049;
}
#events {
  background-color: #3E5975;
  font-family: 'fira sans', sans-serif;
  text-align: center;
  color: #ffffff;
}
#events h3 {
  font-weight: 500;
  color: #ffffff;
}



/* == Medium devices (640px and Larger) == */

@media only screen and (min-width: 640px) {

  header {
    text-align: unset;
  }
  nav {
    width: auto;
    float: right;
  }
  body {
    font-size: 18px;
  }
  main {
    padding-top: 150px;
  }
  #hero {
    text-align: start;
    margin-top: 150px;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-3 {
    width: 33.3%;
  }
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  .footer-row {
    align-items: center;
    justify-content: space-between;
  }
  .footer-contact {
    align-items: center;
    justify-content: center;
  }
  .footer-socialicons {
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
}


/* == large devices (1024px or larger) == */

@media only screen and (min-width: 1024px) {
  
  header {
    background-color: #086788;
    font-size: 16px;
    text-align: center;
    padding: 10px 30px;
    -webkit-box-shadow: -1px 5px 7px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -1px 5px 7px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -1px 5px 7px 0px rgba(50, 50, 50, 0.75);
    position: fixed;
    width: 100%;
  }
  main {
    padding-top: 250px;
  }
  nav > ul {
    padding: 0;
    width: 100%;
    list-style-type: none;
  }
  nav > ul > li {
    margin: 0;
    display: inline-block;
  }
  nav > ul > li > a {
    padding: 0px 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
  }
  .button.contact {
    background-color: transparent;
    color: #ffffff;
    font-size: 21px;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    margin-left: 15px;
  }
  .button.contact:hover {
    background-color: #3f3047;
    color: #ffffff;
    border: 2px solid #3f3047;
  }
  header {
    text-align: unset;
    font-size: 18px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 5px;
  }
  body {
    font-size: 21px;
  }
  main {
    padding-top: 150px;
  }
  #hero {
    text-align: start;
  }
  .col-lg-7 {
    width: 60%;
  }
  .col-lg-5 {
    width: 40%;
  }
  .col-lg-3{
    width: 33.3%;
  }
  [class*="col-"] {
    float: left;
    padding: 25px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  .footer-row {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }
  .footer-contact {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .footer-socialicons {
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
}


/* == x-large devices (1440px or larger) == */

@media only screen and (min-width: 1440px) {

}


/* == Extra-large devices (1441px or larger) == */

@media only screen and (min-width: 1920px) {

}