/*
Colors used:
Background: #FFFFFF;
Main Text: #086788;
Accent Text: #856895;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #086788;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}
h2 {
  font-size: 2.25em;
  font-weight: 700;
}
h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* img optimization */

img {
  width: 100%;
}

/* Button & hyperlink styling */

a {
  color: #086788;
  text-decoration: none;
}
a:hover {
  color: #3f3047;
}
a:visited {
  color: #ffffff;
}
a:active {
  color: #ffffff;
}
a:hover, a:focus {
  color: #3f3047;
}
a.button{
  color: #ffffff;
}
.button {
  display: inline-block;
  background-color: #086788;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #086788;
  transition: .2s opacity;
}
.button:hover {
  opacity: .8;
  text-decoration: none;
}
.button:active {
  color:#3f3047;
}
.button.contact {
  background-color: transparent;
  color: #086788;
  text-transform: uppercase;
  border: 2px solid #086788;
}
.button.contact:hover {
  background-color: #086788;
  color: #ffffff;
  border: 2px solid #086788;
}

header {
  background-color: #086788;
  text-align: center;
  padding: 10px 0;
  -webkit-box-shadow: -1px 5px 7px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    -1px 5px 7px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         -1px 5px 7px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
}
main {
  padding-top: 175px;
}
/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#hero h1 {
  text-align: center;
  font-family: 'lora', serif;
  font-style: italic;
  font-weight: 600;
}

#projects h2 {
  text-align: center;
  font-family: 'lora', serif;
  font-weight: 500;
}

#contact h2 {
  text-align: center;
  font-family: 'lora', serif;
  font-style: italic;
  font-weight: 600;
}
.logo {
  max-width: 250px;
}

nav > ul {
  padding: 0;
  width: 100%;
  list-style-type: none;
}
nav > ul > li {
  margin: 0;
  display: inline-block;
}
nav > ul > li > a {
  padding: 0px 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
}

/* About Section layout */

#about h1 {
  text-align: center;
  font-family: 'lora', serif;
  font-weight: 600;
}
#story h2 {
  text-align: center;
  font-family: 'lora', serif;
  font-weight: 500;
}

/* Chic Threads Layout */

#chicthreads {
  background-color: #ffffff;
  font-family: 'fira', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color:#4A6369;
}
#chicthreads h1 {
  font-family: 'fira sans', sans-serif;
  font-weight: 600;
  color: #4A6369;
}
#chicthreads h2 {
  font-family: 'fira sans', sans-serif;
  font-weight: 500;
  color: #4A6369;
}
#chicthreads h3 {
  font-family: 'fira sans', sans-serif;
  font-weight: 200;
  color: #AB5852;
}